.page {
  max-width: 375px;
  height: 760px;
  background-color: #000;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}

header {
  position: relative;
}

header > img {
  width: 20px;
  margin-top: 15px;
  cursor: pointer;
}

.menu-button {
  position: absolute;
  right: 0;
  cursor: pointer;
}

main {
  margin-top: 25px;
  padding: 10px;
  color: white;
}
.user-info-container {
  display: flex;
  align-items: center;
  position: relative;
}

.user-image {
  background: url("../essets/나윤호.jpeg");
  background-size: cover;
  width: 25px;
  height: 25px;
  overflow: hidden;
  border-radius: 50%;
}
.user-sns-info {
  background: url("../essets/FacebookLogo.png");
  background-size: cover;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin: 0 12px 0 12px;
}

.user-info {
  background: url("../essets/userInfo.png");
  background-size: cover;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin-left: 10px;
}

.user-sns-info > img {
  display: block;
  fill: blue;
}

.time-ago {
  position: absolute;
  right: 0;
}

.post {
  padding-left: 5px;
  line-height: 30px;
  color: white;
  /* height: 675px; */
}

.date {
  margin-left: 3px;
  font-size: 12px;
}

.click-elements {
  display: flex;
  position: relative;
  margin-left: 10px;
}

footer {
  height: 600px;
  transition: transform 600ms cubic-bezier(0.86, 0, 0.07, 1);
  transform: translateY(100%);
  position: absolute;
  left: 0;
  bottom: 2em;
}

.page.open-modal footer {
  transform: translateY(0);
  bottom: 1.4em;
  /* top: 0; */
}

.explains {
  position: absolute;
  right: 0;
  margin-right: 10px;
}

.comments-container {
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
}

.comments-modal {
  width: 371px;
  /* height: 100%; */
  flex-grow: 1;
  background-color: white;
  border: 2px solid #000;
  margin-top: 10px;
  overflow-y: scroll;
  position: relative;
  /* margin-top: 15px; */
}

.comment-info {
  display: flex;
  margin-top: 15px;
  align-items: center;
}

.comments > li {
  padding: 15px;
  border-bottom: 1px solid lightgray;
}

.comment {
  padding: 5px 10px 10px 30px;
  font-size: 12px;
  line-height: 20px;
}

.comment-fetch {
  background: url("../essets/fetch.png");
  background-size: cover;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  position: absolute;
  right: 0;
  margin-right: 5px;
  cursor: pointer;
}

.comment-delete {
  background: url("../essets/delete.png");
  background-size: cover;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  position: absolute;
  right: 0;
  margin-right: 25px;
  cursor: pointer;
}

.comment-input-container {
  padding: 10px;
  background-color: white;
  border: 2px solid #000;
}

.comment-input {
  margin-top: 5px;
  width: 280px;
}

.comment-registrate {
  border: none;
  background-color: red;
  color: white;
  width: 50px;
  padding: 5px;
  cursor: pointer;
}

.login-container {
  display: none;
  background-color: white;
  position: absolute;
  bottom: -1.4em;
  height: 476px;
  width: 371px;
  border: 2px solid #000;
}

.login-container.active {
  display: block;
}

.login-title {
  display: flex;
  justify-content: center;
  margin: 130px 65px 20px 65px;
  font-size: 20px;
}
.login-title-strong {
  color: red;
}

.sns-container {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.sns-container > li {
  margin-bottom: 10px;
}

.sns-button {
  width: 180px;
  padding: 5px;
  border-radius: 15px;
  border: none;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.naver {
  background-color: #2db400;
}

.naver > div {
  background: url("../essets/naver.png");
  background-size: cover;
  width: 20px;
  height: 20px;
  margin-right: 25px;
}

.login-input-container {
  display: none;
  box-sizing: border-box;
  position: absolute;
  bottom: -1.4em;
  border: 2px solid #000;
  border-radius: 30px;
  width: 100%;
  background-color: white;
  flex-flow: column;
}

.login-input-container.active {
  display: flex;
}

.login-input-comment-container {
  display: flex;
  flex-flow: column;
}

.login-input-comment-container > input {
  box-sizing: border-box;
  margin-top: 20px;
  width: 100%;
  height: 30px;
}

.login-input-comment-button {
  width: 100%;
  border: none;
  height: 50px;
  padding: 10px;
  background-color: red;
  color: white;
  font-size: 16px;
  align-self: flex-end;
  margin-top: 150px;
}
